* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.main-window {
  background-color: #1b2838;
}

.help-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  color: #b3b6b4;
  padding: 0;
  height: 32px;
  background-color: #171a21;
}

.left p:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: default;
}

#right-hover-box:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: default;
}

.left {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.left p {
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  color: #b3b6b4;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  padding: 0px 15px;
}

.right p {
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  color: #b3b6b4;
}

.nav-icon {
  background-color: rgb(74, 159, 199);
  padding: 5px 10px;
}

.guest-box {
  background-color: rgb(94, 96, 97);
  padding: 5px 15px;
  color: #b3b6b4;
  border-radius: 2px;
  display: flex;
  border-right: 2px solid rgb(74, 159, 199);
}

.guest-box:hover {
  background-color: rgb(61, 62, 63);
  cursor: pointer !important;
}
.guest-box-name:hover {
  cursor: pointer !important;
}

.guest-box p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(74, 159, 199) !important;
  margin-left: 5px;
}

.nav-icon:hover {
  background-color: rgb(50, 109, 136);
  cursor: default;
}

.icon {
  color: rgb(255, 255, 255);
}
.steam-intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(58, 84, 113, 0.25);
}

.steam-intro-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url("./assets/images/intro_image01.png");
  background-size: cover;
  filter: blur(3.5px);
  animation: moveLoop 70s linear infinite;
  z-index: -1;
}

.steam-intro-background.paused {
  animation-play-state: paused;
}

@keyframes moveLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#steam-logo {
  opacity: 0.9;
}

.accounts {
  display: flex;

  background-color: #1f222a;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.accounts-header {
  display: flex;
  position: absolute;
  top: 0;
  padding: 10px;
  justify-content: flex-end;
  width: 100%;
}
.accounts-logo {
  display: flex;
  align-items: center;
  margin: 50px;
}

.steam-title {
  margin: 10px;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.accounts-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
}

.accounts-title h2 {
  font-size: 26px;
  color: rgb(218, 215, 215);
}

.accounts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accounts-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.accounts-add h3 {
  font-size: 100px;
  padding: 20px;
  transition: transform 0.2s ease-in-out; /* Adding a smooth transition effect */
}
.accounts-add h3:hover {
  cursor: pointer;
  border: 2px solid white;
  transform: translateY(-10px); /* Move the element up by 10px on hover */
}
.close-account {
  background-color: transparent;
  opacity: 0.4;
}

.close-account:hover {
  cursor: pointer;
}

.accounts-pick {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 150px;
}

.accounts-pick:hover {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;

  border: 2px solid white;
  cursor: pointer;
  width: 10%;
}

#create-acc-span {
  margin-left: 5px;
}

#create-acc-span:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
