.home-page {
  background-color: #1b2838;
  height: 100vh;
  margin-top: 70px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.side {
  position: absolute;
  height: 1500px;
  width: 250px;
  margin-left: 25px;
}
/* .hr {
  width: 61.5%;
  margin: -1px auto;
  opacity: 0.1;
} */
