.nav {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
}

nav {
  display: flex;
  background-color: #171a21;
  padding: 10px;
  margin-top: 32px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

#arrow {
  font-size: 19px;
  margin-right: 14px;
  color: #b3b6b4;
  cursor: default;
}

nav ul li {
  margin-right: 20px;
  padding: 0 10px;
  font-size: 20px;
}
/* make the color glow when hover */
nav ul #link.pending:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
}

#link {
  text-decoration: none;
  color: #b3b6b4;
}

/* styles for hover title */

.active {
  color: rgb(74, 159, 199) !important;
  border-bottom: 2px solid rgb(74, 159, 199);
}

/* user drop down */
.manage-user-dropdown {
  background-color: rgb(58, 73, 90);
  position: absolute;
  top: 35px;
  padding: 1px;
  z-index: 500;
  width: 190px;
  right: 10px;
}

.manage-user-dropdown p {
  color: white !important;
  font-size: 15px !important;
  padding: 5px;
}
.manage-user-dropdown p:hover {
  cursor: pointer;
  color: black !important;
}

#dd-profile {
  color: white;
}

#dd-profile:hover {
  color: black;
}

.manage-user-dropdown div:hover {
  color: black !important;
  background-color: white;
}

.nav-little {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 12px;
}

.nav-little span {
  margin-left: 3px;
}

.nav-little:hover {
  cursor: pointer;
  color: white;
}
